In [1]:
a =['hey','hello','goodbye']

In [2]:
print(a[0])
print(a[1])
print(a[2])

hey
hello
goodbye

In [3]:
for element in a:
    print(element)

hey
hello
goodbye

In [4]:
for abc in a:
    print(abc)

hey
hello
goodbye

In [5]:
b = [20,30,50,60]
for num in b:
    print(num)

20
30
50
60

In [6]:
total_sum = 0
for numa in b:
    total_sum = total_sum + numa
print(total_sum)

160

In [7]:
range(1,5)

range(1, 5)

In [8]:
print(list(range(1,5)))

[1, 2, 3, 4]

In [10]:
for i in range(1,5):
    print(i)

1
2
3
4

In [11]:
total_sum2 = 0
for i in range(1,5):
    total_sum2 = total_sum2 + i #Тоже самое total_sum2 += i

In [12]:
print(total_sum2)

10

In [13]:
5%3

2

In [19]:
total_sum3=0
for i in range(1,100):
    if i % 3 == 0 or i%5==0:
        total_sum3+=i
print(total_sum3)

2318

In [3]:
def my_function(n,k):
    sum=0
    if n > 20:
        for sum in range(1,n+1):  
            return(0)
    elif n < 20 or n == 20: #С else не работает с elif работает магия
        even = n % 2
        sum+=even*(even**k)
        print(sum)
d = my_function(2,3)
    # n>20=>0
    # n<=20=>range(1,n) все четные числа возвести в степень к и сложить сумму

0

In [11]:
x=4
if x==0:
    x=1
    print('x был равен нулю')
elif type(x) == type(5) or type(x) == type(5.5):
    print('x допустимое значение')
else:
    print('другой тип данных')
    x = 1
print(100/x)

x допустимое значение
25.0

In [3]:
import os
sayt = input()
if 'https://' in sayt:
    os.system('start '+sayt)
    print('if')
elif 'www.' in sayt:
    sayt = 'https://' + sayt
    os.system('start'+sayt)
    print('elif')
else:
    sayt ='https://www.' + sayt
    os.system('start'+sayt)
    print('else')

vk.com
else

In [2]:
names = ['Mike','Tom','Katy','Alex']
for element in names:
    print(element)

Mike
Tom
Katy
Alex

In [5]:
for i in range(0,4):#0,1,2,3 лучше писать for i in range(len(names))
    print(names[i])

Mike
Tom
Katy
Alex

In [11]:
for i in range(len(names)): #i=0 j=0
    for j in range(i+1):  #i=1 j=0,1
        print(names[i])     #i=2 j=0,1,2

Mike
Tom
Tom
Katy
Katy
Katy
Alex
Alex
Alex
Alex